
<a class='btn btn-success' href="/words/new">Add a new word</a>
<h3>Current Words</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <a href="/words/<%= word.id%>"><li class='list'><%= word.name %></li></a>
    <% end %>
  </ul>
<% else %>
  <p>There are no words here!</p>
<% end %>