<h1>Create-A-Word</h1>
<a href="/words/new">Add a new word</a>
<h3>Current Words</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><a href="/words/<%= word.id%>"><%= word.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no words here!</p>
<% end %>